div1{
    background-color: orange;
    width: auto;
    height: 200px;
    padding: 10px;
    margin: 20px;
}
h1{
    color:blue;
    text-align: center;
}
h3{
    color: red;
    text-align: center;
}
div2{
    background-color: grey;
    width: auto;
    height: 700px;
    padding: 10px;
    margin: 20px;
}